﻿@model EUAMVC.Models.Articles
@{
    ViewBag.Title = "Articles";

}
<div class="article">
    <dl>
        <dd>
            <h1>

                @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.ArticleName))
            </h1>
        </dd>

        <dd>
            <p>

                @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.ArticleText))
            </p>
            <p>
                @Html.DisplayFor(model => model.CreatedOn)
            </p>
        </dd>


    </dl>

</div>