@model EUAMVC.Models.Articles
@{
    ViewBag.Title = "Create Articles";

}

<text>
Articl name:<input type="text" name="Article Name" />
    Articl name:<input type="text" name="Article Context" />
    Articl name:<input type="text" name="Article Text" />
    <input type="submit" value="Submit" />
</text>
@using (Html.BeginForm()){
@Html.AntiForgeryToken()
    <div>
        @Html.LabelFor(model => model.ArticleName)
        @Html.EditorFor(model => model.ArticleName)
    </div>
    <div>
        @Html.LabelFor(model => model.ArticleContext)
        @Html.EditorFor(model => model.ArticleContext)
    </div>

    <div>
        @Html.LabelFor(model => model.ArticleText)
        @Html.EditorFor(model => model.ArticleText)
    </div>

    <div>
        @Html.LabelFor(model => model.ImportantNews)
        @Html.EditorFor(model => model.ImportantNews)
    </div>
    <div>
        @Html.LabelFor(model => model.CreatedOn)
        @Html.EditorFor(model => model.CreatedOn)
    </div>
    <div>
        <input type="submit" value="Create"/>
    </div>

}