﻿@using EUAMVC.Models
@model StreamList
@{
    ViewBag.Title = "Articles";

}

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<div class="stream">
    @for (int x = 0; x < Model.StreamHistory.Count; x++)
    {
        <ul>
           

                <h1> @Html.DisplayFor(modelItem => modelItem.StreamHistory[x].StreamHeader)</h1>
            <iframe width="600" height="345" src=@Html.DisplayFor(modelItem => modelItem.StreamHistory[x].StreamLink)></iframe>
            
        </ul>
    }
</div>
<div class="otherNews">
    <span>
        @if (ViewBag.Page > 0)
        {
            <a href="@Url.Action("Stream", new { page = ViewBag.Page - 1 })"
               class="btn btn-default">
                &laquo; Iepriekšējā
            </a>
        }
    </span>
    <span>
        @if (ViewBag.Page < ViewBag.MaxPage - 1)
        {
            <a href="@Url.Action("Stream", new { page = ViewBag.Page + 1 })"
               class="btn btn-default">
                Nākamā &raquo;
            </a>
        }
    </span>
    </div>

