﻿       html, body {
    background-color:lightgrey;
    height:100%;
    width:100%;
    float:inherit;
}
.header {
    float: none;
    height: 162px;
    width: 79.9%;
    margin-right: 10%;
    margin-left: 10%;
    background-image: url("/images/theme.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    border-bottom-color: floralwhite;
    border-bottom-style: solid;
    border-bottom-width: thin;
}

      .navibar {
        height:54px;
        width:80%;
        margin-right:10%;
        margin-left:10%;
        background-color: black;
}
        .navibar ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: black;
        }

        .navibar li {
            float: left;
        }

            .navibar li a {
                display: block;
                color: white;
                text-align: center;
                padding: 17px 17px; 
                text-decoration: none;
                border-right-style:solid;
                border-right-color: floralwhite;
                border-right-width: thin;
               
            }

                .navibar li a:hover {
                    background-color: lightgreen;
                }



.rowTopLeft {
    margin-top: 5px;
    float: left;
    background-color: floralwhite;
    height: 270px;
    width: 49%;
    border-style: solid;
    border-width: medium;
    border-color: black;
    border-radius: 25px;
    box-shadow: 2px 2px;
}


.rowTopRight {
    margin-top: 5px;
    float: right;
    background-color: floralwhite;
    height: 270px;
    width: 49%;
    border-style: solid;
    border-width: medium;
    border-color: black;
    border-radius: 25px;
    box-shadow: 2px 2px;
}
.rowBottomLeft {
    margin-top: 5px;
    margin-top: 5px;
    float: left;
    background-color: floralwhite;
    height: 270px;
    width: 49%;
    border-style: solid;
    border-width: medium;
    border-color: black;
    border-radius: 25px;
    box-shadow: 2px 2px;
}
.rowBottomRight {
    margin-top: 5px;
    margin-top: 5px;
    float: right;
    background-color: floralwhite;
    height: 270px;
    width: 49%;
    border-style: solid;
    border-width: medium;
    border-color: black;
    border-radius: 25px;
    box-shadow: 2px 2px;
}
    .rowBottomRight:hover {
    background-color:lightgreen;
    
    }
    .rowBottomLeft:hover {
    background-color:lightcoral;
    }
.rowTopLeft:hover {
background-color:lightblue;
}
.rowTopRight:hover {
background-color:lightseagreen
}
h1 {
    font-family: Arial;
    font-size: calc(6px + 0.9vw);
    text-align: center;
    font-weight: 900;
    word-spacing: 0px;
}

p {
    padding-left: 15px;
    padding-right: 15px;
    font-family: Arial;
    font-size: calc(3px + 0.9vw);
    text-align: justify;
    font-weight: bolder;
    word-spacing:0px;
}

a {
    color: black;
    text-decoration: none;
}

.article {
    
    margin-left:9.5%;
    margin-right:9.5%;
}
    .article dl {
        background-color: floralwhite;
        border-top-color: black;
        border-top-style: solid;
        border-top-width: thick;
        border-left-color: black;
        border-left-style: solid;
        border-left-width: thick;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        box-shadow: 5px 5px;

    }
    .article h1 {
    font-size:40px;
    }
    .article p {
        font-family: Arial;
        font-size:20px;
        font-size:1.4vw;
        margin-right:4%;
        letter-spacing:2px;
        text-align:justify;
    }
    .article img {
        display: block;
        width: 50%;
        height: auto ;
        margin-left: auto;
        margin-right: auto;
    }
    .article iframe {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        display: block;
    }





.about {
    background-color: floralwhite;
    margin-left: 9.5%;
    margin-right: 9.5%;
    margin-top:10px;
    background-color: floralwhite;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: thick;
    border-left-color: black;
    border-left-style: solid;
    border-left-width: thick;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 5px 5px;
}
.about h1 {
font-family:Arial;
font-size:40px;
text-align:center;
}
    .about p {
        font-family: Arial;
        font-size: 20px;
        text-align: justify;
    }






.stream {
 
}

    .stream iframe {
        display:block;
        margin-left:auto;
        margin-right:auto;
    }
    .stream ul {
        background-color: floralwhite;
        margin-left: 9.5%;
        margin-right: 9.5%;
        margin-top: 10px;
        background-color: floralwhite;
        border-top-color: black;
        border-top-style: solid;
        border-top-width: thick;
        border-left-color: black;
        border-left-style: solid;
        border-left-width: thick;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        box-shadow: 5px 5px;
    }

#newsMenu {
    /*kad vajadzēs sēit būs jāliek klāt margini ,ko pieliks klāt bodija atkāpēm ,kad taisīs loginu n stufff*/
    display:block;

}
.otherNews {
    position: relative;
    text-align: center;
    background-color: floralwhite;
    margin-top: 10px;
    float: left;
    width: 100%;
    display: block;
    height: auto;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: thick;
    border-left-color: black;
    border-left-style: solid;
    border-left-width: thick;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 5px 5px;
}
    .otherNews p {
        font-family: Arial;
        font-size: 10px;
        text-align: justify;
       font-weight:100;
    }
    .otherNews h1 {
        font-family: Arial;
        font-size: 15px;
        text-align: center;
        font-weight: bolder
    }
    .otherNews ul {
        list-style-type: none;
        margin:5px;
        border-bottom-color: black;
        border-Bottom-style: solid;
        border-bottom-width: thick;
        padding:0;
    }
        .otherNews ul:hover {
            background-color: deepskyblue;
        }
    .otherNews span:hover {
    font-weight:bolder;
    }
    
