﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EUA2</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/Default.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="header"></div>
    <div class="navibar">
        <ul>
            <li>@Html.ActionLink("Sākums", "Index", "Home")</li>
            <li>@Html.ActionLink("Spēles", "Games", "Home")</li>
            <li>@Html.ActionLink("Straume", "Stream", "Stream")</li>
            <li>@Html.ActionLink("Kontakti", "Contact", "Home")</li>
            <li>@Html.ActionLink("Par mani", "About", "Home")</li>
            <li>@Html.ActionLink("Raksti", "CreateArticles", "Articles")</li>
            <li>@Html.ActionLink("Raksti", "Articles", "Articles")</li>

        </ul>

    </div>

    <div class="container body-content">
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
